/**
* @desc         app styles.
* @requires     variables.scss
*/

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-size: 25.00px;
}

@media (max-width: $md) {
    html {
        font-size: 20.00px
    }
}

@media (max-width: $xs) {
    html {
        font-size: 16.00px
    }
}

body {
    overflow: hidden;
}

.app {
    display: flex;
    //grid-template-columns: $fs-large 1fr;
    //color: white;
}

aside {
    width: 6%;
}

main {
    width: 94%;
    position: relative;

    display: flex;
    flex-direction: column;

    //max-width: 65%;
    height: 100vh;
    padding: 1rem 1.6rem;

    gap: $fs-regular;
}

svg {
    path {
        fill: $primary-dark-color;
    }
}

