/**
* @desc         buttons-group styles.
* @requires     variables.scss
*/

.buttons-group {
    display: flex;
    align-items: center;
    gap: $fs-regular;
    margin: 1rem 0;

    &__button {
        flex: 0 3 auto;
    }
}