/**
* @desc         sidebar styles.
* @requires     variables.scss
*/

.sidebar {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    height: 100vh;
    padding: $fs-xsmall 0;

    background-color: $primary-dark-color;

    &__item {
        position: relative;
        @include size(100%, $fs-large);

        &_active {
            &::after {
                content: "";

                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);

                width: 3px;
                height: 2rem;

                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;

                background: $white-color-1;
            }
        }
    }


    svg {
        @include size(40%, 40%);
        path {
            fill: $white-color-1;
        }
    }
}
