/**
* @desc         table.scss
* @requires     variables.scss
*/

.table {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    width: 100%;

    font-family: $font-family-light;
    font-weight: $font-w-semi-bold;

    &__row {
        display: grid;
        grid-template-columns: 2rem repeat(7, 10rem) 2rem;
        gap: 1rem;

        width: 84rem;
        padding: 0 1rem;

        &:not(:last-child) {
            @extend %table-header-border;
        }

    }

    &__column {
        padding: 1rem 0;

        word-break: break-word;

        &:not(:last-child) {
            @extend %table-column-border;
        }
    }

    @extend %webkit-scrollbar;
}