/**
* @desc         table.scss
* @requires     variables.scss
*/

.form {
    &--register-medicine {
        @extend .form;
        grid-template-columns: 1fr 1fr 1fr;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: $fs-medium;
    row-gap: $fs-regular;

    width: 100%;

    font-size: $fs-small;
    &__element {
        display: flex;
        flex-direction: column;
        gap: $fs-xsmall;
    }
}
