/**
* @desc         app styles.
* @requires     variables.scss
*/

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    font-size: 25.00px;
    @extend %webkit-scrollbar;
}

@media (max-width: $md) {
    html {
        font-size: 20.00px
    }
}

@media (max-width: $xs) {
    html {
        font-size: 16.00px
    }
}

body {
    overflow: hidden;
}

.app {
    display: flex;
}

aside {
    width: 6%;
}

main {
    position: relative;

    width: 94%;
    height: 100vh;
    padding: 1rem 1.6rem;

    overflow-y: scroll;
}

section {
    display: flex;
    flex-direction: column;
    gap: $fs-regular;

    .login {
        width: fit-content;
    }
}

svg {
    path {
        fill: $primary-dark-color;
    }
}

