/**
* @desc         set up variables.
* @requires     none
*/
/**
* @desc         overrides default bootstrap styles.
* @requires     none
*/
/**
* @desc         mixins of the app.
* @requires     variables.scss
*/
.table__row:not(:last-child) {
  border-bottom: 1px solid #8c96a9;
}
.table__column:not(:last-child) {
  border-right: 1px solid #8c96a9;
}

.textarea ::-webkit-scrollbar, .table ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #ffffff;
}
.textarea ::-webkit-scrollbar-thumb, .table ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(21, 101, 192, 0.8);
}
.textarea ::-webkit-scrollbar-thumb:hover, .table ::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
  background-color: #1565c0;
}

/**
* @desc         reset styles
* @requires     none
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

ol, ul, li {
  list-style-type: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/**
* @desc         adds default text styles
* @requires     variables.scss
*/
@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"), url("../../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GilroySemiBold";
  src: local("GilroySemiBold"), url("../../assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"), url("../../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GilroyLight";
  src: local("GilroyLight"), url("../../assets/fonts/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "GilroyThin";
  src: local("GilroyThin"), url("../../assets/fonts/Gilroy-Thin.ttf") format("truetype");
}
body {
  line-height: normal;
  color: #1565c0;
}

body,
input,
select,
textarea {
  font-family: "GilroyRegular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-family: "GilroySemiBold", sans-serif;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

pre,
code {
  font-family: Consolas, Monaco, "Lucida Console", monospace;
}

/**
* @desc         app styles.
* @requires     variables.scss
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

@media (max-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 16px;
  }
}
body {
  overflow: hidden;
}

.app {
  display: flex;
}

aside {
  width: 6%;
}

a {
  color: inherit;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 94%;
  height: 100vh;
  padding: 1rem 1.6rem;
  overflow-y: scroll;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section .login {
  width: fit-content;
}

/**
* @desc         heading styles.
* @requires     variables.scss,
*/
.header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
}
.header__link {
  width: 1.8rem;
  height: 1.8rem;
}
.header__button {
  width: 100%;
  height: 100%;
}
.header__button svg path {
  fill: #1565c0;
}
.header__button svg:hover {
  transform: scale(1);
}

/**
* @desc         icon wrapper for icons
* @requires     none
*/
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}

/**
* @desc         sidebar styles.
* @requires     variables.scss
*/
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  padding: 0.6rem 0;
  background-color: #1565c0;
}
.sidebar__item {
  position: relative;
  width: 100%;
  height: 3rem;
}
.sidebar__item_active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 3px;
  height: 2rem;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background: #ffffff;
}
.sidebar svg {
  width: 40%;
  height: 40%;
}
.sidebar svg path {
  fill: #ffffff;
}

/**
* @desc         snackbar.scss
* @requires     variables.scss
*/
.snackbar {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 10;
  min-width: 344px;
  max-width: 40rem;
  margin: 16px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  background-color: #c23934;
  color: #ffffff;
  animation: 300ms ease-out slide-up;
}
.snackbar--success {
  background-color: #02a257;
}
.snackbar--error {
  background-color: #c23934;
}
.snackbar__label {
  width: 100%;
  margin: 0;
  padding: 14px 8px 14px 16px;
  line-height: 1.2rem;
}
.snackbar__dismiss {
  color: #ffffff;
  font-size: 120%;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  padding: 8px;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/**
* @desc         table.scss
* @requires     variables.scss
*/
.form, .form--create-medicine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 1.6rem;
  row-gap: 1rem;
  width: 100%;
  font-size: 0.8rem;
}
.form--create-medicine {
  grid-template-columns: 1fr 1fr 1fr;
}
.form__element {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/**
* @desc         table.scss
* @requires     variables.scss
*/
.table {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  font-family: "GilroyLight", sans-serif;
  font-weight: 600;
}
.table__row {
  display: flex;
  width: max-content;
}
.table__column {
  padding: 1rem;
  word-break: break-word;
}
.table__column:first-child, .table__column:last-child {
  display: flex;
  justify-content: center;
  width: 4rem !important;
}
.table__column svg {
  width: 1.2rem;
  height: 1.2rem;
}

.users-table .table__column {
  width: 12rem;
}

.medicines-table .table__column {
  width: 18rem;
}

/**
* @desc         button variants.
* @requires     variables.scss
*/
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  border-radius: 100%;
  background-color: #ffffff;
  color: #1565c0;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button--plus {
  padding: 5px 5px !important;
}
.button--default {
  padding: 5px 5px !important;
}
.button svg path {
  fill: #1565c0;
}

.button:hover,
.button:focus {
  border-radius: 100%;
  outline: 1px solid #ffffff;
  background-color: #1565c0;
  color: #ffffff;
}
.button:hover svg path,
.button:focus svg path {
  fill: #ffffff;
}

/**
* @desc         loader.scss
* @requires     variables.scss
*/
.loader {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 40px;
  padding: 1rem 0;
}

.loader div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  margin: 0.8rem 0;
  border-radius: 50%;
  background: #1565c0;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/**
* @desc         input variants.
* @requires     variables.scss
*/
.input {
  border: none;
  border-radius: 0.6rem;
  outline: 2px solid #485460;
  font-size: 0.8rem;
  transition: all 0.1s ease-in-out;
  color: #485460;
}
.input[type=text], .input[type=password], .input[type=email], .input[type=date] {
  padding: 0.4rem 0.6rem;
}
.input[type=text]:hover, .input[type=password]:hover, .input[type=email]:hover, .input[type=date]:hover {
  outline: 2px solid #1565c0;
}
.input[type=text]:focus, .input[type=password]:focus, .input[type=email]:focus, .input[type=date]:focus {
  outline: 3px solid #1565c0;
  color: #1565c0;
}
.input[type=submit] {
  padding: 0.6rem 0.8rem;
  border: none;
  outline: none;
  background-color: #1565c0;
  font-size: inherit;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.input[type=submit]:hover {
  outline: 2px solid #1565c0;
  background-color: #ffffff;
  color: #1565c0;
}

/**
* @desc         label.
* @requires     variables.scss
*/
.label {
  font-weight: bold;
  color: #485460;
  transition: all 0.3s ease-in-out;
}
.label:hover {
  color: #1565c0;
  cursor: pointer;
}

/**
* @desc         svg.scss
* @requires     variables.scss
*/
svg {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
svg path {
  fill: #1565c0;
}
svg:hover {
  transform: scale(1.2);
}

/**
* @desc         textarea.scss
* @requires     variables.scss
*/
.textarea {
  width: 100%;
  height: 6rem;
  border: none;
  border-radius: 0.6rem;
  outline: 2px solid #485460;
  font-size: 0.8rem;
  transition: all 0.1s ease-in-out;
  color: #485460;
}

/*# sourceMappingURL=main.css.map */
