/**
* @desc         set up variables.
* @requires     none
*/
/**
* @desc         overrides default bootstrap styles.
* @requires     none
*/
/**
* @desc         mixins of the app.
* @requires     variables.scss
*/
/**
* @desc         reset styles
* @requires     none
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

ol, ul, li {
  list-style-type: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/**
* @desc         adds default text styles
* @requires     variables.scss
*/
@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"), url("../../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GilroySemiBold";
  src: local("GilroySemiBold"), url("../../assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"), url("../../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "GilroyLight";
  src: local("GilroyLight"), url("../../assets/fonts/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "GilroyThin";
  src: local("GilroyThin"), url("../../assets/fonts/Gilroy-Thin.ttf") format("truetype");
}
body {
  line-height: normal;
  color: #1565c0;
}

body,
input,
select,
textarea {
  font-family: "GilroyRegular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-family: "GilroySemiBold", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

pre,
code {
  font-family: Consolas, Monaco, "Lucida Console", monospace;
}

/**
* @desc         app styles.
* @requires     none
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

@media (max-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 16px;
  }
}
.app {
  display: flex;
}

main {
  width: 100%;
  height: 100vh;
  padding: 1rem 1.6rem;
}

/**
* @desc         buttons-group styles.
* @requires     variables.scss
*/
.buttons-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.buttons-group__button {
  flex: 0 3 auto;
}

/**
* @desc         heading styles.
* @requires     variables.scss,
*/
.heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

/**
* @desc         icon wrapper for icons
* @requires     none
*/
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}

/**
* @desc         sidebar styles.
* @requires     variables.scss
*/
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;
  width: 5rem;
  height: 100vh;
  padding: 0.8rem 0;
  background-color: #1565c0;
}
.sidebar__item {
  position: relative;
  width: 100%;
  height: 3rem;
}
.sidebar__item_active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 4px;
  height: 2rem;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background: #ffffff;
}
.sidebar svg {
  width: 50%;
  height: 50%;
}
.sidebar svg path {
  fill: #ffffff;
}

/**
* @desc         button variants.
* @requires     variables.scss
*/
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  background-color: #1565c0;
  outline: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button svg {
  width: 50%;
  height: 50%;
}

.button:hover,
.button:focus {
  outline: 1px solid #1565c0;
  background-color: #ffffff;
  color: #1565c0;
}

/**
* @desc         loader.scss
* @requires     none
*/
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed teal;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.5);
  }
}

/*# sourceMappingURL=main.css.map */
